@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
    /* Primary */
    --scissorsGradient:linear-gradient(hsl(39, 89%, 49%) to hsl(40, 84%, 53%));
    --paperGradient:linear-gradient( hsl(230, 89%, 62%) to hsl(230, 89%, 65%));
    --rockGradient:linear-gradient( hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
    --lizardGradient:linear-gradient( hsl(261, 73%, 60%) to hsl(261, 72%, 63%));
    --cyan:linear-gradient( hsl(189, 59%, 53%) to hsl(189, 58%, 57%));

    /* Neutral */

    --darkText: hsl(229, 25%, 31%);
    --scoreText: hsl(229, 64%, 46%);
    --headerOutline: hsl(217, 16%, 45%);

    /* Background */

    --radialGradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

*::before, ::after {
    box-sizing: board-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--radialGradient) no-repeat;
    height: 100vh;
    text-transform: uppercase;
}

.container {
    max-width: 760px;
    margin: auto;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--headerOutline);
    padding: 15px;
    border-radius: 5px;
}

.header > img {
    width: 40%;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--scoreText);
    background-color: #ffff;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: .7rem;
}

.score_counter {
    color: var(--darkText);
    font-size: 2.5rem;
    font-weight: 800;
}

/* game container */
.game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    place-items: center;
    grid-template-areas: 
        'paper scissors'
        'rock rock';
    height: 20rem;
    position: relative;
}

.game::before {
    content: url(/images/bg-triangle.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5rem;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.choice-btn {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 20px;
    background: #ffff;
}

.choice-btn[data-selection="paper"] {
    grid-area: paper;
    box-shadow: 0px 0px 0px 15px hsl(230, 89%, 66%), 
                0px 5px 0px 15px hsl(230, 66%, 48%), 
                inset 0px 3px 0px 1px hsl(0deg 0% 87%);
}

.choice-btn[data-selection="scissors"] {
    grid-area: scissors;
    box-shadow: 0px 0px 0px 15px hsl(39, 89%, 49%), 
                0px 5px 0px 15px  hsl(40, 84%, 40%), 
                inset 0px 3px 0px 1px hsl(0deg 0% 87%);
}

.choice-btn[data-selection="rock"] {
    grid-area: rock;
    box-shadow: 0px 0px 0px 15px hsl(349, 71%, 52%), 
                0px 5px 0px 15px hsl(349, 70%, 40%), 
                inset 0px 3px 0px 1px hsl(0deg 0% 87%);
}

.choice {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* rules */
.rules {
  display: flex;
  justify-content: center;
}

.rules-btn {
    border: 3px solid var(--headerOutline);
    padding: 10px 45px;
    border-radius: 10px;
    color: #c5bbbb;
    letter-spacing: 2px;
    position: fixed;
    bottom: 50px;
    font-size: .8rem;
}