@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
    /* Primary */
    --scissorsGradient:linear-gradient(hsl(39, 89%, 49%) to hsl(40, 84%, 53%));
    --paperGradient:linear-gradient( hsl(230, 89%, 62%) to hsl(230, 89%, 65%));
    --rockGradient:linear-gradient( hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
    --lizardGradient:linear-gradient( hsl(261, 73%, 60%) to hsl(261, 72%, 63%));
    --cyan:linear-gradient( hsl(189, 59%, 53%) to hsl(189, 58%, 57%));

    /* Neutral */

    --darkText: hsl(229, 25%, 31%);
    --scoreText: hsl(229, 64%, 46%);
    --headerOutline: hsl(217, 16%, 45%);

    /* Background */

    --radialGradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

*::before, ::after {
    box-sizing: board-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed',  Helvetica, sans-serif;
    background: var(--radialGradient) no-repeat;
    height: 100vh;
    text-transform: uppercase;
    color: #dad7d7;
    letter-spacing: 1px;
    font-size: .8rem;
    overflow: hidden;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    height: 100vh;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--headerOutline);
    padding: 15px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
}

.header > img {
    width: 5.5rem;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--scoreText);
    background-color: #ffff;
    padding: 5px 25px;
    border-radius: 5px;
    font-size: .7rem;
}

.score_counter {
    color: var(--darkText);
    font-size: 2.5rem;
    font-weight: 800;
    animation: fadein 1s;
}

/* game container */
.game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    place-items: center;
    grid-template-areas: 
        'paper scissors'
        'rock rock';
    height: 17rem;
    position: relative;
    max-width: 600px;
    margin: 3.2rem auto;
    animation: fadein 1s;
}

.game::before {
    content: url(./images/bg-triangle.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 3rem;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.choice-btn {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 20px;
    background: #ffff;
}

.choice-btn[data-selection="paper"] {
    grid-area: paper;
    box-shadow: 0px 0px 0px 15px hsl(230, 89%, 66%), 
                0px 5px 0px 15px hsl(230, 66%, 48%), 
                inset 0px 3px 0px 1px hsl(0deg 0% 87%);
}

.choice-btn[data-selection="scissors"] {
    grid-area: scissors;
    box-shadow: 0px 0px 0px 15px hsl(39, 89%, 49%), 
                0px 5px 0px 15px  hsl(40, 84%, 40%), 
                inset 0px 3px 0px 1px hsl(0deg 0% 87%);
}

.choice-btn[data-selection="rock"] {
    grid-area: rock;
    box-shadow: 0px 0px 0px 15px hsl(349, 71%, 52%), 
                0px 5px 0px 15px hsl(349, 70%, 40%), 
                inset 0px 3px 0px 1px hsl(0deg 0% 87%);
}


.choice-btn[data-selection="rock"].winner {
    box-shadow: 0px 0px 0px 15px hsl(349deg 71% 52%), 
                0px 5px 0px 15px hsl(349deg 70% 40%), 
                0px 5px 0px 15px hsl(349deg 70% 40%), 
                0px 5px 0px 35px hsl(0deg 0% 24% / 50%), 
                0px 5px 0px 75px hsl(0deg 0% 24% / 28%), 
                0px 5px 0px 110px hsl(0deg 0% 24% / 26%),
                inset 1px 4px 0px 1px hsl(0deg 0% 87%);
    z-index: -2;
}

.choice-btn[data-selection="paper"].winner {
    box-shadow: 0px 0px 0px 15px hsl(230, 89%, 66%), 
                0px 5px 0px 15px hsl(230, 66%, 48%), 
                0px 5px 0px 15px hsl(349deg 70% 40%), 
                0px 5px 0px 35px hsl(0deg 0% 24% / 50%), 
                0px 5px 0px 75px hsl(0deg 0% 24% / 28%), 
                0px 5px 0px 110px hsl(0deg 0% 24% / 26%),
                inset 1px 4px 0px 1px hsl(0deg 0% 87%);
    z-index: -2;
}

.choice-btn[data-selection="scissors"].winner {
    box-shadow: 0px 0px 0px 15px hsl(39, 89%, 49%), 
                0px 5px 0px 15px hsl(40, 84%, 40%), 
                0px 5px 0px 15px hsl(349deg 70% 40%), 
                0px 5px 0px 35px hsl(0deg 0% 24% / 50%), 
                0px 5px 0px 75px hsl(0deg 0% 24% / 28%), 
                0px 5px 0px 110px hsl(0deg 0% 24% / 26%),
                inset 1px 4px 0px 1px hsl(0deg 0% 87%);
    z-index: -2;
}


.choice {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* game results */
.game-results {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-template-areas: 
        'you house'
        'results results';
    white-space: nowrap;
    padding-top: 5rem;
    margin-top: 2.7rem;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1;}
}

.game-results p {
    padding-top: 1.5rem;
}


.you-pick {
    grid-area: you;
}

.comp-pick {
    grid-area: house;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.player-results {
    grid-area: results;
    font-size: 2.5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 10s;
}



.play-btn {
    padding: 15px 2.2rem;
    border-radius: 10px;
    border: none;
    margin: 0.8rem;
    text-transform: uppercase;
    color: #606e85;
}


/* rules */
.rules {
  display: flex;
  justify-content: center;
}

.rules-btn {
    border: 3px solid var(--headerOutline);
    padding: 10px 45px;
    border-radius: 10px;
    color: #c5bbbb;
    position: fixed;
    bottom: 50px;
    font-size: .8rem;
}

/* modal */
.modal {
    display: none;
}

.modal.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d7d6d6;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.modal-header {
    position: absolute;
    top:50px;
    color: #504a4a;
}

.close-modal-btn {
    position: absolute;
    bottom: 100px;
    cursor: pointer;
    border: none;
    background:none;
}

/* Media Queries */
@media (min-width:641px) {
    .rules-btn {
        right: 1rem;
    }

    .modal.show {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'rules close'
            'btns btns';
        max-width: 430px;
        max-height: 445px;
        top: 353px;
        border-radius: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    .modal-header {
        grid-area: rules;
        top: 0px;
        left: 30px;
    }

    .close-modal-btn {
        grid-area: close;
        justify-self: end;
        top: 40px;
        right: 30px;
    }

    .modal.show img {
        grid-area: btns;
        justify-self: center;
    }

    .game-results {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            'you results house';
        white-space: nowrap;
        padding-top: 5rem;
        margin-top: 2.7rem;
        align-items: center;
        position: relative;
        min-width: 800px;
        margin: 2.7rem auto;
    }

    .container {
        max-width: 800px;
    }

    .player-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        margin-top: 1rem;
    }

    .game-results p {
       position: absolute;
       top: -140px;
       font-size: .6rem;
    }


    .choice {
        transform: scale(1.3);
    }

    .choice img {
        transform: scale(.8);
    }


    #player-results {
        margin-top: 0;
    } 

    .play-btn {
        color: #af4646;
    }

}